/*HTPP缓存测试相关*/
fieldset {
  legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
  }
  .content {
    display: grid;
    grid-template-columns: 180px 400px auto;
    justify-items: start;
    align-items: center;

    .request > label {
      font-size: 14px;
      color: #6b798e;
    }

    .feed-back {
      display: inline-block;
      padding: 0 5px;
      color: black;
      font-size: 14px;
      outline: 0px dashed currentColor;
    }
  }
}
