.article:hover {
  outline: 2px dashed #007175;
  outline-offset: 3px;
  cursor: pointer;
}

.article p {
  text-indent: 1rem;
  margin: 10px 0;
}

.article p:first-of-type {
  margin: 10px 60px;
}

.article #coffee-1 {
  float: left;
}

.article #coffee-2 {
  float: right;
}