@import url(./cache-test.css);
/*全局*/
body {
  margin: 0;
  padding: 0;
}

#app {
  box-sizing: border-box;
  width: 80vw;
  margin: 10px auto 0;
}

p {
  text-indent: 1rem;
  margin: 10px 0;
}

p:first-of-type {
  margin: 10px 60px;
  /* color:blueviolet; */
}

/*静态资源*/
#coffee-1 {
  float: left;
}

#coffee-2 {
  float: right;
}